#shopping-cart-heading {
    margin-top: 140px;
}

#single-cart-container {
    display: flex;

    width: 60%;
    margin-left: 20%;

    box-shadow: 0 0 2px 0 #252B48;
    border-radius: 10px;
    margin-bottom: 0.7rem;
    padding: 0.8rem;
    margin-top: 45px;

    position: relative;
}

#single-cart-container>img {
    width: 9rem;
    height: 6rem;
    border-radius: 10px;

    margin-bottom: 3rem;
}

#single-cart-container>img:hover {
    cursor: pointer;
}

#single-cart-container>#details {
    margin: 2.5rem;
    font-size: 1rem;
}

#single-cart-container>#details>#brand {
    margin-right: 1.3rem;
}

#single-cart-container>#edit {
    position: absolute;
    left: 1.2rem;
    bottom: 1.3rem;
}

#single-cart-container>#edit>* {
    border: 1px solid #dcd9d9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: .27rem;
    width: .45rem;
    padding: 0.7rem;
    color: #9d174d;

    padding-top: 13px;
    position: relative;
    top: 8px;
    left: 21px;

}

#single-cart-container>#edit>#minus,
#plus {
    background-color: #faf9f9;
}

#single-cart-container>#edit>#minus,
#plus:hover {
    cursor: pointer;
}

#single-cart-container>#edit>#quantity {
    color: black;
    font-family: 'IRY';
    position: relative;
    top: 9px;

 
}
#minus{
    color: green!important;
}
#single-cart-container>#price {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    font-size: 2.1rem;
}

#single-cart-container>#price>#dolar-span {
    color: #9d174d;
}

#single-cart-container>#price>#trash-icon {
    color: #bd1010;

    margin-left: 1.2rem;
    font-size: 1.5rem;

    position: absolute;
    bottom: 0.4rem;
}

#single-cart-container>#price>#trash-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#total-price-div {
    width: 50%;
    margin-left: auto;
margin-right: auto;
    margin-bottom: 2rem;height:100px;display: flex;align-items: center;justify-content: center;
    margin-top: 40px;z-index: 5555555555555;position: relative;
    font-size: 2rem;
    text-align: center;border-radius: 3px;
}

#total-price-div>span {
    font-size: 2.1rem;
}

#total-price-div>#right {right: 0px;font-size: 20px;
    position: absolute;font-family: 'IRY';font-weight: 700;
;width: fit-content;margin-left: auto;border-bottom: 1px solid rgb(184, 184, 184);
    position: absolute;left: 0px;right: 0px;margin-right: auto;padding-bottom: 4px;
}

#total-price-div>#left {  font-size: 18px;position: absolute;
   width: 33%;margin-left: auto;
    position: absolute;left: 0px;right: 0px;margin-right: unset;

}
#total-price-div>#dolar {position: absolute;font-size: 20px;
    color: #8f0416;   position: absolute;
   width: 33%;margin-left:unset;
    position: absolute;left: 0px;right: unset;margin-right: auto;
}

@media (max-width: 1270px) {

    #single-cart-container {
        width: 70%;
        margin-left: 15%;
    }

    #single-cart-container>#details {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {

    #single-cart-container {
        width: 80%;
        margin-left: 10%;
    }
    #total-price-div {
        width: 70%;
      
    }
}

@media (max-width: 780px) {
    #total-price-div {
        width: 80%;
      
    }
    #single-cart-container {
        flex-direction: column;
        align-items: center;
    }

    #single-cart-container>img {
        width: 10rem;
        height: 6.5rem;
        margin-bottom: 0;
    }

    #details>span {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
    }

    #details>#title {
        margin-bottom: 2rem;
    }

    #single-cart-container>#edit>* {
        height: .8rem;
    }
}

@media (max-width: 520px) {

    #single-cart-container>#price {
        font-size: 1.5rem;
    }

    #single-cart-container>#price>#trash-icon {
        font-size: 1.4rem;
        bottom: 0.3rem;
    }

    #details>span {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    #single-cart-container>#edit {
        bottom: 1.2rem;
    }

    #single-cart-container>#edit>* {
        height: 1.8rem;
    }

    #total-price-div>span {
        font-size: 1.6rem;
    }

    #total-price-div>#left {
        margin-right: 0.1rem;
    }
}

@media (max-width: 400px) {
    #single-cart-container>#price {
        bottom: 0.2rem;
    }

    #single-cart-container>#edit {
        left: 0;
        bottom: -0.1rem;
        margin-bottom: 1.4rem;
   
    }
}